<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <title>SunLab Access System</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper blue darken-4">
                <a href="index.html" class="brand-logo">PSH Sun Lab</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="users.html">Users</a></li>
                    <li><a href="logs.html">Logs</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>