<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- javascript -->
        <script src="../scripts/navbar.js"></script>
        <script src="../scripts/users.js"></script>

        <title>SunLab Access System</title>
    </head>
    <body>
        <!-- navigation bar -->
        <div id="navbar"></div>

        <!-- filters -->
        <form class="container">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">tag</i>
                    <input id="id" type="number" class="validate" data-length="9">
                    <label for="id">PSU ID</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label for="role">Role</label>
                    <select id="role" class="browser-default">
                        <option value="" selected>Choose your option</option>
                        <option value="ADMIN">Admin</option>
                        <option value="STUDENT">Student</option>
                        <option value="FACULTY">Faculty</option>
                        <option value="JANITOR">Janitor</option>
                    </select>
                </div>
                <div class="col s6">
                    <label for="status">Status</label>
                    <select id="status" class="browser-default">
                        <option value="" selected>Choose your option</option>
                        <option value="ACTIVE">Active</option>
                        <option value="SUSPENDED">Suspended</option>
                    </select>
                </div>
            </div>
        </form>

        <!-- buttons -->
        <div class="center-align">
            <button class="btn waves-effect waves-light blue darken-4 center" onclick="searchUser()">Search</button>
            <button class="btn waves-effect waves-light blue darken-4 center" onclick="addUser()">Add</button>
            <button class="btn waves-effect waves-light blue darken-4 center" onclick="clearInput()">Clear</button>
        </div>

        <!-- table -->
        <div class="center-align">
            <table class="striped highlight centered">
                <thead>
                <tr>
                    <th>PSU ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="user-table"></tbody>
            </table>
        </div>

    </body>
</html>